[Desktop Entry]
Version=1.0
Type=Application
Name=3nity Media
GenericName=Media Player
Comment=Modern multimedia player powered by libmpv
Exec=3nity-media %F
Icon=com.ndxdev.trinitymedia
Terminal=false
Categories=AudioVideo;Audio;Video;Player;
MimeType=audio/mpeg;audio/x-mpeg;audio/x-mpeg-3;audio/mpeg3;audio/mp3;audio/x-mp3;audio/aac;audio/x-aac;audio/aacp;audio/flac;audio/x-flac;audio/ogg;audio/x-ogg;audio/vorbis;audio/x-vorbis;audio/wav;audio/x-wav;audio/wave;audio/x-pn-wav;audio/x-pn-aiff;audio/aiff;audio/x-aiff;audio/x-m4a;audio/m4a;audio/mp4;audio/x-ms-wma;audio/x-matroska;audio/opus;audio/webm;video/mpeg;video/x-mpeg;video/mp4;video/x-m4v;video/x-matroska;video/webm;video/ogg;video/x-ogm;video/x-ogm+ogg;video/avi;video/x-msvideo;video/quicktime;video/x-flv;video/3gpp;video/3gpp2;video/x-ms-wmv;video/x-ms-asf;application/x-mpegurl;audio/x-mpegurl;audio/mpegurl;application/vnd.apple.mpegurl;audio/x-scpls;application/xspf+xml;
Keywords=media;player;audio;video;music;movie;stream;radio;
Actions=Play;Pause;Stop;Next;Previous;

[Desktop Action Play]
Name=Play
Exec=3nity-media --play %F

[Desktop Action Pause]
Name=Pause
Exec=3nity-media --pause

[Desktop Action Stop]
Name=Stop
Exec=3nity-media --stop

[Desktop Action Next]
Name=Next Track
Exec=3nity-media --next

[Desktop Action Previous]
Name=Previous Track
Exec=3nity-media --previous
